{
  "extends": [
    "eslint:recommended",
    "next",
    "plugin:mdx/recommended", 
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-anonymous-default-export": "off",
    "react/no-unescaped-entities": "off"
  },
  "settings": {
    "mdx/code-blocks": true,
    "mdx/language-mapper": {}
  }
}
