{
  "extends": [
    "eslint:recommended",
    "next",
    "plugin:@typescript-eslint/recommended",
    "plugin:mdx/recommended", 
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": [".tsx", ".ts"],
      "extends": "plugin:@typescript-eslint/recommended-requiring-type-checking"
    },
    {
      "files": ["*.md", "*.mdx"],
      "extends": "plugin:mdx/recommended"
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/no-anonymous-default-export": "off",
    "react/no-unescaped-entities": "off"
  },
  "settings": {
    "mdx/code-blocks": false,
    "mdx/language-mapper": {}
  }
}
